body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url('leaves-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#home-title {
    color: #ff7f50;
    font-size: 28px;
    margin-bottom: 10px;
}

#search-box {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#add-found-btn {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-found-btn:hover {
    background-color: #ff6347;
}

#lost-section {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#search-info {
    margin-top: 10px;
    font-style: italic;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.description {
    flex-grow: 1;
}

.description h3 {
    color: #333;
    margin-bottom: 5px;
}

.description p {
    color: #666;
}

.claim-btn {
    padding: 10px 20px;
    background-color: orange; /* Changed color to orange */
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.claim-btn:hover {
    background-color: #ff6347;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.orange-btn {
    background-color: orange;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.orange-btn:hover {
    background-color: darkorange;
}
